<div>
    <h1>Pokemon List</h1>
    <ul ngClass="row">
        <app-pokemon-list-item
            *ngFor="let pokemon of pokemonList"
            [pokemon] = "pokemon"
        ></app-pokemon-list-item>
    </ul>
</div>
