<div *ngIf="pokemon">
    <div>
        <h1>{{pokemon.name}}</h1>
        <img src={{pokemon.sprites.front_default}} alt="Detail">
    </div>
    <div>
        <h2>Base Stats</h2>
        <p>Base experience: {{pokemon.baseExperience}}</p>
        <span>Types:</span>
        <span *ngFor="let type of pokemon.types">
            {{type.type.name}}
        </span>
    </div>
    <div>
        <h2>Profile</h2>
        <p>Height: {{pokemon.height}}cm</p>
        <p>weight: {{pokemon.weight}}g</p>
    </div>
    <div>
        <h2>Moves</h2>
        <span>Abilities: </span>
        <span *ngFor="let ability of pokemon.abilities">
            {{ability.ability.name}}
        </span>
    </div>

    <button type="button" 
            ngClass="button" 
            (click)="onCollectClick()">Collect</button>
    <button type="button" 
            ngClass="button" 
            routerLink="/trainer">Trainer</button>
</div>
