<div>
    <h1>Trainer: {{trainer}}</h1>
    <button type="button" 
                    ngClass="button"  
                    routerLink="/catalogue">
                    Catch pokemon!
    </button>

    <button type="button" 
                    ngClass="button" 
                    (click)="onLogoutClick()" 
                    routerLink="/login">
                    Logout
    </button>
    <ul ngClass="row">
        <li ngClass="column" *ngFor="let pokemon of collectionList$ | async">
          <div ngClass="card" (click)="goToDetails(pokemon.id)">
            <img [src]="pokemon.sprites.front_default" alt="">
          <p>{{ pokemon.name }}</p>
        </div>
        </li>
      </ul>
      
</div>
