:host {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.row {
  list-style-type: none;
  width: 100%;
  margin: auto;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

 .column {
  float: left;
  width: 20%;
  padding: 2px;
}


.card {
  padding: 2px;
  text-align: center;
  background-color: #f1f1f1;
}

