<div ngClass="container">
    <form ngClass="form">
        <p ngClass="description">Enter your trainer nickname<br>before catching awesome<br>pokemon.</p>
        <input type="text" 
                ngClass="input" 
                name="username" 
                placeholder="Nickname" 
                [(ngModel)] = "username"
                minlength="1" 
                maxlength="15">
        <button type="button" 
                ngClass="button" 
                (click)="onLoginClick()" 
                routerLink="/catalogue">OK</button>
    </form>
    <img src="https://cdn.bulbagarden.net/upload/thumb/3/3e/Lets_Go_Pikachu_Eevee_Professor_Oak.png/270px-Lets_Go_Pikachu_Eevee_Professor_Oak.png" ngClass="professor" alt="Oak">
</div>