.container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}

.form{
    text-align: center;
    background-color: #e0ffdf;
    border-style: solid;
    border-color: gray;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    border-radius: 3px;
    height: fit-content;
    max-width: 400px;
    float: left;
    padding: 8px;
    margin: 5px;
}

.professor{
    display: block;
    height: 300px;
    float: right;
    margin: 5px;
}

.description{
    font-size: large;
}