<div ngClass="login">
    <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/404px-International_Pok%C3%A9mon_logo.svg.png" alt="Logo">
    </div>
    <app-login-form></app-login-form>
    <footer ngClass="footer"> <small>&copy; Copyright 2020, Kristian Corporation</small> </footer>
</div>