:host {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}