/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background-image: linear-gradient(#00C9A7, #0088C2);
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Architects Daughter', cursive;
}

.input {
    background-color: white;
      border-radius: 10px;
      padding: 8px;
      margin: 5px;
      height: auto;
      width: 290px;
      font-size: large;
      outline: none;
}
  
.button{
    font-size: large;
    background-image: linear-gradient(#00C9A7, #0088C2);
    color: white;
    padding: 5px 28px;
    height: 44.67px;
    width: 310px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
}
